.hero-image {
  background-image: url("tea.jpg");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero-text {
  text-align: center;
  color: white;
  font-family; sans-serif;
}
